@font-face {
  font-family: "Apercu-Light";
  src: local("Apercu-Light"), url(./fonts/Apercu-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Apercu-Medium";
  src: local("Apercu-Medium"), url(./fonts/Apercu-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Apercu-Regular";
  src: local("Apercu-Regular"),
    url(./fonts/Apercu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Apercu-Bold";
  src: local("Apercu-Bold"), url(./fonts/Apercu-Bold.ttf) format("truetype");
}
